/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e1217;
    color: #ffffff;
  } */
  
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
  }
  
  .content {
    text-align: center;
    padding: 40px 20px;
  }
  
  .content h1 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .tags {
    margin-bottom: 30px;
  }
  
  .tags button {
    background-color: #00aaff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tags button:hover {
    background-color: #0088cc;
  }
  
  /* .chat-box {
    background-color: #1a1e26;
    border: 1px solid #00aaff;
    border-radius: 15px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    height: 200p;
    
  }
  
  .chat-box p {
    margin-bottom: 20px;
    color: #ffffff;
  } */
  
  /* .message-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #00aaff;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #ffffff; */
  /* } */
/*    */
  /* .message-input button {
    background-color: #00aaff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #0088cc;
  } */
  

  .generated {
    margin-top: 30px;
    padding: 20px;
    background-color: #161b22;
    border: 1px solid #007bff ;
    border-radius: 8px;
    width: 100%;
    margin: auto;

  }
  
  .generated h2 {
    color: #007bff ;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box {
    background-color: #121212;
    border: 1px solid #007bff ;
    border-radius: 8px;
    padding: 20px;
    height: 200px;

    font-size: 16px;
    text-align: center;
    color: #aaaaaa;
  }
  
  .footer {
    text-align: right;
    background-color: #161b22;
    color: #007bff ;
    margin-top: 10px;
    font-size: 14px;
  }