.menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background */
    cursor: auto; /* Change cursor */
    z-index: 999; /* Below the menu */
  }
  
  .menu-overlay {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden by default */
    width: 300px;
    height: 100%;
    background-color: #08111C;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000; /* Above the backdrop */
    padding: 20px;
  }
  
  .menu-overlay.open {
    right: 0; /* Slide in */
  }
  
  .close-btn {
    color: #D0DDE5;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .menu-list li {
    position: relative;
    padding: 15px 10px;
  }

  .menu-list svg {
    width: 26px;
    margin-right: 30px;
  }
  
  .menu-list li:not(:nth-last-child(2), :last-child)::after {
    content: "";
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 0;
    height: 1px; /* Line thickness */
    background-color: #D0DDE5; /* Line color */
  }

  .menu-list li:last-child {
    position: absolute;
    bottom: 10px;
  }
  
  .menu-list li a {
    text-decoration: none;
    color: #D0DDE5;
    font-size: 18px;
    display: inline-block; /* Ensures margin works correctly */
    margin: 5px 0; /* Add space above and below each link */
    transition: all 0.2s;
    font-size: 16px;
  }

  .menu-list li a:hover {
    color: white;
  }
  
  #profile {
    width: 70px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70px;
    transition: all 0.2s;
  }  

.login {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #088ADB;
    border: 1px solid #088ADB;
    border-radius: 20px;
    width: 170px;
    top: 50px;
    margin: 30px 0;
    font-weight: 600;
}

.login:hover {
    background-color: #088ADB;
    color: #08111C;
    font-weight: 600;
}