.hero-section {
  padding: 50px;
  background-image: url("../Images/HomeBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  color: #fff;
  position: relative;
  z-index: 1;
  min-height: 450px;
}

#title {
  font-size: 34px;
  color: #088ADB;
}

#description {
  font-size: 20px;
  font-weight: 300;
}

#title, #description {
  margin-left: 60px;
  width: 600px;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 50px;
  background-color: transparent;
  color: #088ADB;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s ease;
  border: 1px solid #088ADB;
  margin-left: 15rem;
}

.hero-button:hover {
  background-color: #007f9f; 
  color: #0a0e1a;
  font-weight: 600;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.hero-content {
  margin-top: 9rem;
}