/* Variables globales */
:root {
    --primary-color: #007bff;
    --dark-bg: #0a0f1a;
    --secondary-bg: #121826;
    --border-color: #1f2937;
    --text-color: #ffffff;
    --button-hover: #0056b3;
  }
  
  .container {
    padding: 2rem 5%;
    text-align: center;
  }
  
  /* Titre principal */
  .title, .subtitle {
    color: #088ADB;
    margin-bottom: 1.5rem;
  }

  /* Section formulaire */
  .form-section {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    /* position: relative; */
    border: #007bff 1px solid;
    width: 50%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .back-btn {
    position: absolute; 
    top: 9.5rem; 
    left: 5.5rem;
    background: transparent;
    color: #088ADB;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;

  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    width: 100%;

  }
  
  input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #1f2937;
    color: var(--text-color);
  }
/* Section formulaire */
.form-section {
  width: 800px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #088ADB;
  border-radius: 20px;
  padding: 2rem;
  margin: auto;
  border: #088ADB 1px solid;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

/* Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%; /* Stretch labels to full width of the form */
}

/* Inputs and Textarea */
input,
textarea {
  width: 500px;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  /* color: var(--text-color); */
}
  
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .reset-btn,
  .submit-btn {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    color: #D0DDE5;
  }
  
  .reset-btn {
    background-color: #444b5a;
    margin: 20px;
  }
  
  .submit-btn {
    background-color: #088ADB ;
    margin: 20px;


  }
  
  .submit-btn:hover {
    background-color: var(--button-hover);
  }